<h2>
    {{vm.key('title') | message:{'facilityCode': vm.facility.code, 'facilityName': vm.facility.name, 'program':
    vm.program.name} }}
</h2>

<div class="stock-adjustment-creation">
    <section class="openlmis-table-container">
        <form ng-submit="vm.search()">
            <fieldset>
                <label for="search">{{vm.key('keyword') | message}}</label>
                <input id="search" type="text" ng-model="vm.keyword" maxlength="50" />
            </fieldset>

            <input type="submit" value="{{vm.key('search') | message}}" />
        </form>
        <section class="is-primary">
            <div class="form-inline" ng-if="vm.showDeliveryNoteAttributes && !vm.servicePointUser">
                <label for="referenceNumberSelect">{{vm.key('referenceNumber') | message}}</label>
                <select id="referenceNumberSelect" ng-model="vm.referenceNumber"
                    ng-options="value for value in vm.references" required>
                </select>
            </div>
            <form class="form-inline" ng-submit="vm.addProduct()" name="productForm">
                <div class="form-inline">
                    <div>
                        <label for="productSelect">{{vm.key('product') | message}}</label>
                        <select id="productSelect" ng-model="vm.selectedOrderableGroup"
                            ng-options="orderableGroup[0].orderable.fullProductName for orderableGroup in vm.orderableGroups"
                            ng-change="vm.orderableSelectionChanged()" required>
                        </select>
                    </div>
                    <div ng-if="vm.selectedOrderableHasLots">
                        <label for="lotSelect">{{'stockAddProductsModal.lotCode' | message}}</label>
                        <select id="lotSelect" ng-model="vm.selectedLot" ng-options="lot.lotCode for lot in vm.lots"
                            ng-change="vm.lotChanged()" required>
                        </select>
                    </div>
                    <div ng-if="vm.hasPermissionToAddNewLot && vm.canAddNewLot">
                        <label for="lotCode">{{'stockAddProductsModal.newLotCode' | message}}</label>
                        <input id="lotCode" type="text" style="width: 90px;" ng-model="vm.newLot.lotCode"
                            ng-change="vm.newLotCodeChanged()" openlmis-invalid="{{vm.newLot.lotCodeInvalid | message}}"
                            required>
                        <label for="expirationDate">{{'stockAddProductsModal.newLotExpirationDate' | message}}</label>
                        <input id="expirationDate" type="date" style="width: 90px;" ng-model="vm.newLot.expirationDate"
                            ng-change="vm.expirationDateChanged()"
                            openlmis-invalid="{{vm.newLot.expirationDateInvalid | message}}" />
                    </div>
                    <button type="submit" class="add">{{vm.key('add') | message}}</button>
                </div>
            </form>
        </section>
        <table suppress-tr-openlmis-invalid>
            <caption ng-if="!vm.displayItems.length">{{vm.key('noProducts') | message}}</caption>
            <thead>
                <tr>
                    <th>{{vm.key('productCode') | message}}</th>
                    <th>{{vm.key('product') | message}}</th>
                    <th ng-show="vm.hasLot">{{vm.key('lotCode') | message}}</th>
                    <th ng-show="vm.hasLot">{{vm.key('expiryDate') | message}}</th>
                    <th>{{vm.key('soh') | message}}</th>

                    <th ng-show="vm.srcDstAssignments"
                        ng-hide="vm.showPrepackingAttributes || vm.showReasonsInAdjustment">{{vm.key('srcDstLabel') |
                        message}}</th>
                    <th ng-hide="vm.showDeliveryNoteAttributes || vm.showReasonsInAdjustment || vm.showPrepackingAttributes"
                        ng-show="vm.srcDstAssignments">{{vm.key('srcDstComments') | message}}</th>
                    <th ng-if="vm.showReasonDropdown && !vm.showPrepackingAttributes">{{vm.key('reason') | message}}
                    </th>
                    <th ng-hide="vm.showDeliveryNoteAttributes"
                        ng-if="vm.showReasonDropdown && !vm.showPrepackingAttributes">{{vm.key('reasonComments') |
                        message}}</th>

                    <th colspan="5" ng-if="vm.showDeliveryNoteAttributes && !vm.servicePointUser">
                        {{vm.key('cartonNumber') | message}}</th>
                    <th ng-if="vm.showDeliveryNoteAttributes" ng-hide="true">{{vm.key('invoiceNumber') | message}}</th>

                    <th ng-if="vm.showDeliveryNoteAttributes">{{vm.key('deliveryNoteQuantity') | message}}</th>

                    <th ng-show="!vm.showDeliveryNoteAttributes && !vm.showPrepackingAttributes">{{vm.key('quantity') |
                        message}}</th>

                    <th ng-if="vm.showPrepackingAttributes">{{vm.key('prepackSize') | message}}</th>
                    <th ng-if="vm.showPrepackingAttributes">{{vm.key('numberOfPrepacks') | message}}</th>

                    <th ng-show="vm.showPrepackingAttributes">{{vm.key('quantityToPrepack') | message}}</th>
                    <th ng-show="vm.showPrepackingAttributes">{{vm.key('stockRemaining') | message}}</th>
                    <th ng-show="vm.showPrepackingAttributes">{{vm.key('collectedBy') | message}}</th>


                    <th ng-show="vm.showDeliveryNoteAttributes">{{vm.key('acceptedQuantity') | message}}</th>

                    <th ng-if="vm.showDeliveryNoteAttributes || vm.showPrepackingAttributes">{{vm.key('comments') |
                        message}}</th>
                    <th ng-if="vm.showDeliveryNoteAttributes">{{vm.key('unitPrice') | message}}</th>
                    <th ng-if="vm.showDeliveryNoteAttributes">{{vm.key('amount') | message}}</th>

                    <th ng-if="vm.showVVMStatusColumn">{{vm.key('vvmStatus') | message}}</th>
                    <th ng-if="vm.showDeliveryNoteAttributes">{{vm.key('discrepancy') | message}}</th>

                    <th>{{vm.key('date') | message}}</th>
                    <th>{{vm.key('actions') | message}}</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lineItem in vm.items">
                    <td>{{lineItem.orderable.productCode}}</td>
                    <td>{{lineItem.orderable | productName}}</td>
                    <td ng-show="vm.hasLot && vm.canEditLot(lineItem)">
                        <button class="edit" ng-click="vm.editLot(lineItem)">
                            {{lineItem.displayLotMessage}}
                        </button>
                    </td>
                    <td ng-show="vm.hasLot && !vm.canEditLot(lineItem)">
                        {{lineItem.displayLotMessage}}
                    </td>
                    <td ng-show="vm.hasLot">{{lineItem.lot.expirationDate | openlmisDate}}</td>
                    <td align="right">{{lineItem.$previewSOH}}</td>
                    <td ng-show="vm.srcDstAssignments"
                        ng-hide="vm.showPrepackingAttributes || vm.showReasonsInAdjustment"
                        openlmis-invalid="{{lineItem.$errors.assignmentInvalid ? 'openlmisForm.required' : '' | message}}">
                        <select ng-model="lineItem.assignment"
                            ng-change="vm.validateAssignment(lineItem);vm.clearFreeText(lineItem, 'srcDstFreeText');vm.hideColumns()"
                            ng-options="assignment.name for assignment in vm.srcDstAssignments track by assignment.id"
                            autofocus>
                        </select>
                    </td>
                    <td ng-hide="vm.showDeliveryNoteAttributes || vm.showReasonsInAdjustment || vm.showPrepackingAttributes"
                        ng-show="vm.srcDstAssignments">
                        <textarea ng-show="lineItem.assignment.isFreeTextAllowed" ng-model="lineItem.srcDstFreeText"
                            rows="1" cols="15"></textarea>
                    </td>
                    <td ng-if="vm.showReasonDropdown && !vm.showPrepackingAttributes"
                        openlmis-invalid="{{lineItem.$errors.reasonInvalid ? 'openlmisForm.required' : '' | message}}"
                        class="digit-cell">
                        <select ng-model="lineItem.reason"
                            ng-change="vm.validateReason(lineItem);vm.clearFreeText(lineItem, 'reasonFreeText');vm.fixQuantityWhenExpired(lineItem)"
                            ng-options="reason.name for reason in vm.reasons track by reason.id" autofocus>
                        </select>
                    </td>
                    <td ng-hide="vm.showDeliveryNoteAttributes"
                        ng-if="vm.showReasonDropdown && !vm.showPrepackingAttributes">
                        <input type="text" ng-show="lineItem.reason.isFreeTextAllowed"
                            ng-model="lineItem.reasonFreeText" rows="1" cols="15"></input>
                    </td>

                    <td ng-if="vm.showDeliveryNoteAttributes && !vm.servicePointUser" ng-hide="vm.FromSupplier">
                        <input class="form-control" ng-model="lineItem.individualCartonNumber"
                            ng-class="{'error': lineItem.$errors.cartonsInvalid}"
                            ng-change="vm.validateCartonNumber(lineItem)" type="number" style="width: 40px;" min="0"
                            step="1" oninput="validity.valid||(value='');">
                    </td>

                    <td ng-if="vm.showDeliveryNoteAttributes && !vm.servicePointUser"><label
                            style="display: inline-block;">to</label></td>
                    <td ng-if="vm.showDeliveryNoteAttributes && !vm.servicePointUser" ng-hide="vm.FromSupplier">
                        <input class="form-control" ng-model="lineItem.individualCartonNumberRange"
                            ng-class="{'error': lineItem.$errors.cartonsInvalid}"
                            ng-change="vm.validateCartonNumberRange(lineItem)" type="number" style="width: 40px;"
                            min="0" step="1" oninput="validity.valid||(value='');">
                    </td>

                    <td ng-if="vm.showDeliveryNoteAttributes && !vm.servicePointUser"><label
                            style="display: inline-block;">of</label></td>
                    <td ng-if="vm.showDeliveryNoteAttributes && !vm.servicePointUser"
                        openlmis-invalid="{{lineItem.$errors.cartonsInvalid}}" class="digit-cell">
                        <input class="form-control" ng-model="lineItem.totalCartonNumber"
                            ng-change="vm.validateCartonNumber(lineItem)"
                            ng-class="{'error': lineItem.$errors.cartonsInvalid}"
                            ng-blur="vm.validateCartonNumber(lineItem)" style="width: 30px;" disabled>
                    </td>

                    <td ng-if="vm.showDeliveryNoteAttributes" ng-hide="true"><input class="form-control" type="text"
                            value="INV" ng-model="lineItem.invoiceNumber"
                            ng-show="lineItem.assignment.name.includes('NDSO')"></td>

                    <td ng-if="vm.showDeliveryNoteAttributes"><input ng-model="lineItem.deliveryNoteQuantity"
                            class="form-control" type="number" style="width: 50px;" min="0" step="1"
                            oninput="validity.valid||(value='');" ng-change="vm.validateQuantity(lineItem)"
                            ng-show="lineItem.assignment.name.includes('NDSO')" required></td>

                    <!-- <td ng-if="vm.showPrepackingAttributes"><input class="form-control" ng-model="lineItem.prepackSize"
                            ng-change="vm.validatePrepackQuantity(lineItem)" type="number" min="0" style="width: 70px;">
                    </td> -->
                    <!-- <td ng-if="vm.showPrepackingAttributes"><input class="form-control"
                            ng-model="lineItem.numberOfPrepacks" ng-change="vm.validatePrepackQuantity(lineItem)"
                            type="number" style="width: 120px;"></td> -->
                    <!-- <td ng-if="vm.showPrepackingAttributes"
                        openlmis-invalid="{{lineItem.$errors.prepackQuantityInvalid}}" class="digit-cell">
                        <input class="form-control" ng-model="lineItem.prepackQuantity"
                            ng-class="{'error': lineItem.$errors.prepackQuantityInvalid}"
                            ng-blur="vm.validatePrepackQuantity(lineItem)" readonly
                            value="{{(lineItem.prepackSize*lineItem.numberOfPrepacks)}}" type="number"
                            style="width: 120px;" min="0">
                    </td> -->
                    <!-- <td ng-if="vm.showPrepackingAttributes"><input class="form-control"
                            ng-model="lineItem.remainingStock" readonly type="number" style="width: 120px;" min="0">
                    </td> -->

                    <td ng-if="!vm.showPrepackingAttributes" openlmis-invalid="{{lineItem.$errors.quantityInvalid}}"
                        class="digit-cell">
                        <input class="form-control" ng-model="lineItem.quantity" style="width: 50px;"
                            ng-disabled="lineItem.expired" ng-class="{'error': lineItem.$errors.quantityInvalid}"
                            ng-change="vm.validateQuantity(lineItem)" ng-blur="vm.validateQuantity(lineItem)">
                    </td>

                    <!-- LESOTHO-ELMIS -- These should be added to prepack payload -->
                    <td ng-if="vm.showPrepackingAttributes"><input class="form-control" type="text"
                            style="width: 150px;"></td>
                    <td ng-if="vm.showDeliveryNoteAttributes || vm.showPrepackingAttributes"><input class="form-control"
                            type="text" style="width: 100px;"></td>
                    <!-- The two above should be added to prepack payload -->

                    <td ng-if="vm.showDeliveryNoteAttributes" ng-hide="vm.FromSupplier"><input class="form-control"
                            value="{{ 0 | openlmisCurrency}}" type="text" style="width: 50px;"
                            ng-model="lineItem.unitPrice"
                            ng-show="lineItem.assignment.name.includes('NDSO')"></td>
                    <td ng-if="vm.showDeliveryNoteAttributes" ng-hide="vm.FromSupplier"><input type="text" readonly
                            style="width: 85px;"
                            value="{{ (lineItem.quantity*lineItem.unitPrice) || 0 | openlmisCurrency}}"
                            ng-show="lineItem.assignment.name.includes('NDSO')" /></td>
                    <td ng-if="vm.showVVMStatusColumn">
                        <select ng-if="lineItem.orderable.extraData.useVVM == 'true'" ng-model="lineItem.vvmStatus"
                            ng-options="status as vm.getStatusDisplay(status) for status in vm.vvmStatuses"
                            placeholder="{{'stockAdjustmentCreation.selectStatus' | message}}">
                        </select>
                    </td>

                    <td ng-if="vm.showDeliveryNoteAttributes">
                        <button ng-show="lineItem.assignment.name.includes('NDSO')"
                            type="button" class="primary" ng-click="vm.addDiscrepancyOnModal(lineItem.timestamp)"><b>+
                            </b>Add</button>
                    </td>

                    <td class="date-cell">
                        <input id="lineItem.occurredDate" type="date" style="width: 90px;"
                            ng-model="lineItem.occurredDate" ng-change="vm.validateDate(lineItem)" max-date="vm.maxDate"
                            required inputmode="none" />
                    </td>
                    <td>
                        <button type="button" class="danger" ng-click="vm.remove(lineItem)">{{vm.key('remove') |
                            message}}</button>
                    </td>

                </tr>
            </tbody>
        </table>
        <openlmis-pagination list="vm.displayItems" paged-list="vm.items" />
    </section>
</div>

<ng-include src="'stock-adjustment-creation/adjustment-creation-toolbar.html'"></ng-include>